@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Darker+Grotesque&display=swap');
body{font-family: 'Darker Grotesque', sans-serif; font-size: 18px}
h1,h2{font-family: 'Charm', cursive;}
main{ min-height: 500px}

a:hover{ text-decoration: none}
.carousel-caption{ position: absolute; top: 100px; left: 40%; width: 40%; height: 50%; text-align: left; padding: 20px; font-size: 1.3rem}
.dropdown-menu{ border: 1px solid #fff}
.dropdown-item{ color: #fff; font-size: 1.2rem}
.carousel-caption h1{ font-size: 4rem}
.carousel-caption .btn{ font-size: 1.5rem; text-transform: uppercase; padding: 5px 20px}
.page-title-2{ background: url("../img/bg-raucu.jpg") no-repeat center top; min-height: 300px; color:#fff; display: flex; align-items: center; font-size: 22px}
@media (max-width:1200px){
	.carousel-caption{ top: 30px; width: 60%; left: 30%}
	.carousel-caption .btn{ font-size: 1rem}
	.carousel-caption h1{ font-size: 3.5rem}
}
@media (max-width:997px){
	
	.carousel-caption h1{ font-size: 3rem}
}

@media (max-width:768px){
.carousel-caption{ top: 0px; width: 70%; left: 15%; font-size: 1rem; text-align: center}
.carousel-caption h1{ font-size: 1.5rem}
.carousel-caption .btn{ font-size: .8rem}
}
@media (max-width:500px){
.carousel-caption{ top: 15px; width: 95%; left: 5%; font-size: 1rem; text-align: center}
	.carousel-caption p{ display: none}
	.carousel-caption h1{ font-size: 1.5rem}
	.carousel-caption .btn{ font-size: .8rem}
}

footer{ background: url("../img/bg-footer.jpg") no-repeat center top ;  min-height: 700px; padding: 150px 0; background-size: 100% 100%}
